{% extends 'control/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <script src="https://cdn.tailwindcss.com"></script>
    <h1 class="mb-4 text-2xl font-bold">Añadir Validación Diseño</h1>

        {% if submitted %}
            <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative">
                La validación fue creada exitosamente.
            </div>
        {% else %}
            <div class="bg-white shadow rounded-lg overflow-hidden">
                <div class="bg-gray-100 px-4 py-3 border-b border-gray-200">
                    <h4 class="text-xl">Detalles del Control</h4>
                </div>
                <div class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                    <div class="flex flex-col">
                        <span class="font-bold">ID:</span>
                        <span>{{ control.id }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Nombre:</span>
                        <span>{{ control.nombre }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Código:</span>
                        <span>{{ control.codigo }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Objetivo:</span>
                        <span>{{ control.objetivo }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Frecuencia:</span>
                        <span>{{ control.frecuencia }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Clasificación:</span>
                        <span>{{ control.clasificacion }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Tipología:</span>
                        <span>{{ control.tipologia }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Descripción:</span>
                        <span>{{ control.descripcion }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Ciclo:</span>
                        <span>{{ control.ciclo }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Año:</span>
                        <span>{{ control.año }}</span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold">Auditor:</span>
                        <span>{{ control.auditor.nombre_completo }}</span>
                    </div>
                    <hr class="my-4 col-span-full">
                    <form action="" method="POST" class="col-span-full">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_validacion" class="block text-gray-700 text-sm font-bold mb-2"><h2 class="text-xl font-bold mb-4">Validación diseño</h2></label>
                            {{ form.as_p }}
                        </div>
                        <hr class="my-4">
                        <div class="mb-4">
                            {% for pregunta in preguntas %}
                                <div class="flex flex-wrap mb-3">
                                    <div class="w-full md:w-1/2 px-2 mb-2 md:mb-0">
                                        <p> {{ pregunta }}</p>
                                    </div>
                                    <div class="w-full md:w-1/4 px-2 mb-2 md:mb-0">
                                        <label for="respuesta_{{ forloop.counter }}" class="block text-gray-700 text-sm font-bold mb-2">Respuesta</label>
                                        <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" id="respuesta_{{ forloop.counter }}" name="respuesta_{{ forloop.counter }}">
                                            <option value="" selected>Seleccione una opción</option>
                                            <option value="si">Sí</option>
                                            <option value="no">No</option>
                                            <option value="no aplica">No Aplica</option>
                                        </select>
                                    </div>
                                    <div class="w-full md:w-1/4 px-2 mb-2 md:mb-0">
                                        <label for="explicacion_{{ forloop.counter }}" class="block text-gray-700 text-sm font-bold mb-2">Explicación</label>
                                        <textarea class="block w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline" id="explicacion_{{ forloop.counter }}" name="explicacion_{{ forloop.counter }}" rows="3"></textarea>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <button type="submit" class="border-solid border-2 border-black text-black font-bold py-2 px-4 rounded inline-block hover:bg-black hover:text-white hover:border-white">Enviar</button>
                        <a href="{% url 'control_list' %}" class="border-solid border-2 border-white text-white font-bold py-2 px-4 rounded inline-block bg-black hover:bg-white hover:text-black hover:border-black">Listado controles</a>
                    </form>
                </div>
            </div>
        {% endif %}
    {% else %}
        <h1 class="text-xl font-bold">Necesitas autenticarte antes de ingresar a esta página</h1>
        <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Inicia sesión aquí</a>
    {% endif %}
{% endblock %}
